{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'App_FreshProducts/Styles.css' %}">
    <link rel="icon" type="image" href="{% static 'images/Icon.png' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
    <title>Fresh Products | Settings</title>
  </head>
  <body>     
    <div style="margin:50px" class="container">
      <h1><span title="FreshProducts" style="color:#15126b;font-size:35px;font-weight:bold;font-family: 'Source Sans Pro', sans-serif;text-decoration:none;"><span style="color:#ff8700;font-size: 45px;">F</span>resh<span style="color:#ff8700;font-size: 45px;">P</span>roducts</span></h1>
      <hr>
      <h1 style="color:green">{{msg}}</h1>
      <p>É necessario effettuare nuovamente l'accesso all'area riservata</p>
      <div style="position: inherit;top:50%" class="button">
        <a style="width: 150px;margin: 0px;" href="/home/login/">Login</a>
      </div>
    </div>
    
    
  </body>
</html>
